/**/
@import "./variables";

/*Al colocar una medida dentro del max-width se le indica un tope de tamaño de pantalla: entonces todas las propiedades y 
valores que se declaren dentro de esa media solo se van a ver si están dentro de ese margen de ancho de pantalla, si no no, 
esa seria la lógica*/

/* PADRE TOP BAR */
.header{
    display: flex; /*ACTIVAR FLEX BOX */
    flex-direction: row;  /*direccion hijos*/
    justify-content: space-between; /*distribuir los elementos hijos en eje principal*/
    align-items: center; /*distribuir los elementos hijos en eje secundario - para que no se estiren en el bloque/caja */
    /*si mi direccion es row, mi eje es "x", si es column mi eje es "y"*/
    height: 80px;
    width: 98%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #6c7c69;
    border-top: 2px #090a09;
    flex-wrap: nowrap; /*para que siga debajo directamente respetando su ancho o alto, según el eje principal*/
    /*GAP : separacion entre filas y columnas que tengamos
    Se puede hacer --> gap: 3rem 1rem;  -->separas mas las filas entre ellas y menos sus columnas, porque aca el eje principal es la fila.
    */
}

.nav-enlace{
    color: #FFFFFF;
    text-decoration: none;
    font-family: sans-serif;
}

.header-left-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 48%;
}
.header-left-items{
    font-family: sans-serif;
    font-size: 13px;
}
.header-right-list{
    display: flex;
    flex-direction: row;
    width: 30%;
    padding-right: 10px;
    justify-content: flex-end;
    gap: 1rem;
}
.header-right-list li{
float: left;
}

/* FIN TOP HEADER */

/*********************************************************************/

/* INICIO MENU NAV */


#top-nav{       
         text-align: center;
         height: 50px;
}

#logo{
    float: left;
    padding: none; /*relleno*/ 
    margin: none;
    height: 40px;
    width: 30%;
} 
#logo img{
    margin-left: 15px;
    width: 60%;
    float: left;
    padding: 0px 10px;  
} 
#logo img:hover{
    transform: scale(1.1,1.1);
}
#menu{
	float: right;
	width: 70%;
	height: 100%;
	margin: none;
    transition: width 3s, height 4s;
}
	
#menu ul{
    font-size: 11px;
	text-align: center;
	float: right;
	margin: none;
    padding: 25px 5px 0px 0px;
	background: #ffffff;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}	
#menu li a, #menu li span{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
}	
#menu li a{
	color: #6c7c69;
}
#menu li:hover a, #menu li span{
	background: #FFF;
	color: #6c7c69;
	border-left: 1px solid #6c7c69;
	text-decoration: none;
}
#menu li:hover{
    transform: scale(1.5,1.5);
}

nav .header-icono{
    display: none;
}

/*
a:hover { background: yellow; } */ /* El usuario esta sobre el enlace */
/*
a:active { color: lime; }  */      /* Enlaces activos */

/*****************************/


html, body{
    height: 100%;
}
     
body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Roboto';
}     
p, ol, ul{
    margin-top: 0;
}
 
p {
    line-height: 180%;
}
 
ol, ul, li{
    padding: 0;
    list-style: none; /*sin los puntos*/
}
h4 {
    text-align: left;
    padding: 1rem;
}

bloque3{ 
    padding-left: 150px;  
    margin: 0px auto;
    width: 900px;
    text-align: center;
}
/*****************************/

#header-image-menu{
    top: 10px;
    position: relative;
    display: inline-block;
    border: inset 0.5px #6c7c69 ;
    margin: 5px 150px 12px 150px;
    padding: 10px 5px 10px 5px;
    background-color: #6c7c69;
}

#header-image-menu img{
    width: 55%;
    float: right;
    margin: 20px;
    padding: none;
}
#image-text, #image-text1  {
    display: block;
}
#image-text {
	position: absolute;
	top: 30%;
	left: 14%;
	font-family: 'Roboto';
	color: #ffffff;
    font-size: 40px;
	transform: translate(-30%, -30%);
	text-align: left;
}
#image-text1 {
    position: absolute;
	top: 60%;
	left: 11%;
	font-family: 'Roboto';
	color: #ffffff;
    font-size: 20px;
	transform: translate(-40%, -30%);
	text-align: left;
}
#header-image-menu2 img{
    width: 30%;
    float: center;
    margin: 20px;
    padding: none;
    transform: translate(130%, -40%);

}
/* FIN MENU NAV */

/*********************************************************************/


/*

.row #column1,
.row #column2,
.row #column3{
        float: left;
        width: 320px;
        padding: 80px 40px 80px 40px;
}
.column-title h3{
    margin: 1em 0em;
    font-size: 1.6em;
    font-weight: 700;
}
**/
#table {
    position: relative;
    display: inline-block;
    background-color: #6c7c69;
    opacity: 80%;
    text-align: center;
}
/*
#caja {
    position: relative;
    display: inline-block;
}
#texto1 {
    position: absolute;
    float: inline-start;
    top: 10px;
    left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #FFFFFF;
}
*/




/*****************************************/
/*	 Styling Main Content Section 3 */
/*****************************************/


.image
{
    display: inline-block;
	border: 1px solid rgba(0, 0, 0, .5);
	border-radius: 5px;
}
	
.image img
{
    display: inline-block;
	width: 100%;
}
	
.image-full
{
    display: inline-block;
	width: 100%;
	margin: 0 0 3em 0;
}
	


/*********************************************************************/

/* INICIO PRESENTACION MODELOS */
#titulo-modelos{
	font-family: 'Roboto';
	color: #6c7c69;
    font-size: 35px;
	text-align: center;
    letter-spacing: 4px;
    
}
.modelos-grid{
    display: grid; /* Propiedad obligatoria para usar CSS grids*/
    border: 1px solid #6c7c69;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    min-height: 700px; 
	font-family: 'Roboto';
    color: #FFFFFF;
    grid-template-columns:  1fr 1fr 1fr 1fr ; /*dibujar primero las columnas de la cuadricula */ /* Es lo mismo poner: repeat (4, 1fr)*/
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-areas: 
        "Mod titulo titulo titulo"
        "Mod fre mad gra"
        "Mod hay vin nog"
        "Mod min bl mar"
        ;
  
    column-gap: 2rem;
    row-gap: 1rem; /* Separar filas columnas*/
    
}

/* TRANSITION MODELOS */
#imageboxgrid{
    transition-timing-function: ease-in-out;
    transition: width 3s;
    transition-delay: 1s;
}
.modelos-grid--fresno:hover {
    width: 300px;
  }
.modelos-grid--blanco:hover {
    width: 300px;
  }  
.modelos-grid--grafito:hover {
    width: 300px;
  }
.modelos-grid--haya:hover {
    width: 300px;
  }
.modelos-grid--madera:hover {
    width: 300px;
  }
.modelos-grid--marfil:hover {
    width: 300px;
  }
.modelos-grid--mina:hover {
    width: 300px;
  }
.modelos-grid--nogal:hover {
    width: 300px;
  }
  .modelos-grid--vintage:hover {
    width: 300px;
  }
/* FIN TRANSITION MODELOS */


.modelos-grid__hijo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-size: 180px;
}

#image-grid{
    display: inline-block;
	border: 1px solid rgba(0, 0, 0, .5);
	border-radius: 5px;
}

.modelos-grid--titulo{
    grid-area: titulo;
}

.modelos-grid--modelos{
    padding-top: 60px;
    background-color: #6c7c69;
    color: #FFFFFF;
    grid-area: Mod;
    justify-self: start;
    display: block;
}
.modelos-grid--fresno{
    width: 170px;
    height: 170px;
    grid-area: fre;
    background-image: url("imagenes/fresno.jpg");
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .5);
    transition-timing-function: linear;
}
.modelos-grid--madera{
    width: 170px;
    height: 170px;
    grid-area: mad;
    background-image: url("imagenes/madera.jpg");
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .5);
}
.modelos-grid--grafito{
    grid-area: gra;
    width: 170px;
    height: 170px;
    background-image: url("imagenes/grafito.jpg");
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .5);
}
.modelos-grid--haya{
    grid-area: hay;
    width: 170px;
    height: 170px;
    background-image: url("imagenes/haya.jpg");
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .5);
}
.modelos-grid--vintage{
    grid-area: vin;
    width: 170px;
    height: 170px;
    background-image: url("imagenes/vintage.jpg");
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .5);
}
.modelos-grid--nogal{
    grid-area: nog;
    width: 170px;
    height: 170px;
    background-image: url("imagenes/nogal.jpg");
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .5);
}
.modelos-grid--mina{
    grid-area: min;
    width: 170px;
    height: 170px;
    background-image: url("imagenes/mina.jpg");
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .5);
}
.modelos-grid--blanco{
    grid-area: bl;
    width: 170px;
    height: 170px;
    background-image: url("imagenes/fresno.jpg");
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .5);
}
.modelos-grid--marfil{
    grid-area: mar;
    width: 170px;
    height: 170px;
    background-image: url("imagenes/marfil.jpg");
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, .5);
}

/*---------------------------------------
.footer-area
---------------------------------------*/
.footer-area {
    background: $colorprincipal; }
    .footer-area .footer-top {
      padding: 39px 10px 6px 10px;
     }
      .footer-area .footer-top .single-widgets {
        margin-top: 30px; }
        .footer-area .footer-top .single-widgets .widgets-title h4 {
          font-size: 15px;
          font-weight: 400;
          color: #FFFFFF;
          text-transform: capitalize;
          margin-bottom: 15px; }
        .footer-area .footer-top .single-widgets .widgets-text ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          .footer-area .footer-top .single-widgets .widgets-text ul li {
            display: block; }
            .footer-area .footer-top .single-widgets .widgets-text ul li a {
              display: block;
              font-size: 16px;
              line-height: 36px;
              color: #FFFFFF;
              text-transform: capitalize;
              transition: all 0.5s; }
              .footer-area .footer-top .single-widgets .widgets-text ul li a:hover {
                color: #58b6e6; } 
                .footer-area .footer-top .single-widgets .widgets-text button {
                 background-color: #94C7DD;
                 color:#FFFFFF;
                 border-color: #6c7c69; 
                }
    .footer-area .footer-bottom {
      padding: 30px 0;}
      .footer-area .footer-bottom .copyright-area p {
        margin-bottom: 0px;
        font-size: 16px;
        color: #FFFFFF; }
        .footer-area .footer-bottom .copyright-area p span {
          color: #dadee0; }
      .footer-area .footer-bottom .social-media ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .footer-area .footer-bottom .social-media ul li {
          display: inline-block; }
          .footer-area .footer-bottom .social-media ul li a {
            display: block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            background: #acadaf;
            color: #FFFFFF;
            transition: all 0.5s; }
            .footer-area .footer-bottom .social-media ul li a:hover {
              color: #FFFFFF;
              background: #58b6e6; }
  /*---------------------------------------
  .footer-area
  ---------------------------------------*/






/*Media Querys*/

/*Se colocan al final de los estilos*/
/*Desktop first -> max. width*/
/*Debemos usar el @media { ... } */

/* A las vistas menores de 1024 px */
@media screen and (max-width: 1024px) {
    .body {
            background-color: #000000;
      }
    }
/* A las vistas menores de 600 px */

@media screen and (max-width: 768px) {
    .header{
        height: 50px;
    }

    .header-left-list{
        display: none;
    }
    #top-nav{
        flex-direction: row;
        height: 20px;
    }
    #menu{
        display: none;
    }

    nav .header-icono {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

    
/*USAR OVERFLOW, CON SCROLL Y O X */




/*La ultima media sobreescribe la anterior*/
/*FIN MEDIA 600 px*/
}
